.card {
   max-width: 282px;
   height: 361px;
   background-color: rgba(255, 255, 255, 1);
   border-radius: 10px;
   position: relative;
}


.card__imge {
  width: 282px;
   height: 282px;
   object-fit: fill;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
.card__description {
   max-width: 282px;
   font-size: 24px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   margin: 25px 30px 0 21px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.card__title {
   max-width: 219px;
   min-width: 200px;
   display: inline;
   font-family: "Inter";
   font-weight: 900;
   font-size: 24px;
   line-height: 100%;
   letter-spacing: 0%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   margin: 0;
}

.card__button-like {
 display: inline;
 position: absolute;
 right: 18px;
 background-image: url(../images/icon-like.svg);
 width: 21px;
 height: 18px;
 border: none;
}

.card__button-like:hover {
   opacity: 50%;
   cursor: pointer;
}

.card__button-like_active {
   display: inline;
   position: absolute;
   right: 18px;
   z-index: 5;
   background-image: url(../images/icon-like-black.svg);
   width: 21px;
   height: 18px;
   border: none;
}



