.footer {
   margin-top: 67px;
   color: rgba(84, 84, 84, 1);
   margin-top:67px;
   padding-bottom: 60px;

}

.footer__text {
   width: 318px ;
   margin: 0;
   font-family: "Inter";
   font-weight: 400;
   font-size: 18px;
   line-height: 100%;
   letter-spacing: 0%;
   padding-left: calc((100vw - 880px)/2);
}

@media (max-width:918px) {
   .footer {
      padding-left: calc((100vw - 600px)/2);
   }
}

@media (max-width:619px) {
   .footer {
      margin-top: 50px;
      padding-bottom: 36px;
      padding-left: calc((100vw - 282px)/2);
   }
}