.header {
   color: rgba(255, 255, 255, 1);
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 234px;
}

.header__container {
   width: 880px;
   min-width: 320px;
   height: 74px;
   border-bottom: 1px solid rgba(84, 84, 84, 1);

}

.header__container-icon {
   max-width: 173px;
}

.header__icon {
   width: 100%;
   margin-bottom: 41px;
}

@media (max-width:918px) {
   .header {
      height: 424px;
}

   .header__container {
      max-width: 600px;
      height: 74px;
   }
}

@media (max-width:619px) {
   .header {
      height: auto;
}
   .header__container {
      max-width: 320px;
      height: 56px;
   }

   .header__icon {
      margin-bottom: 0;
   }
}