.modal-image {
   width: 100vw;
   min-width: 320px;
   height: 100%;
   display: none;
   justify-content: center;
   align-items: center;
   background-color: rgba(1, 1, 1, 0.5);
   position: fixed;
   top: 0;
}

.modal-image-open {
   display: flex;
}

.modal-image__container {
   width: auto;
   height: auto;
   position: relative;
}

.modal-image__button-close {
   width: 35px;
   height: 35px;
   background-image: url(../images/Close-Icon.svg);
   background-color: rgb(0, 0, 0);
   position: absolute;
   right: -35px;
   top: -35px;
   border: none;
   cursor: pointer;
   background-size: cover;
}

.modal-image__img {
   width: auto;
   max-height: 540px;
}

.modal-image__title {
   color: rgba(255, 255, 255, 1);
   font-family: "Inter";
   font-weight: 400;
   font-size: 12px;
   line-height: 100%;
   letter-spacing: 0%;
   margin: 10px 0 0 0;
}

@media (max-width: 918px) {
   .modal-image__img {
      max-width: 580px;
      max-height: 300px;
   }
}

@media (max-width: 619px) {

   .modal-image__img {
      max-width: 240px;
      max-height: 299px;
   }
}
